# Virtual environment
venv

# Environment variables
.env

# Database
db.sqlite3

# Cache
__pycache__
sensedata/__pycache__
sensedata/migrations/

# Static files
src/staticfiles
src/static
src/media

# Migrations
sensedata/migrations
